@media (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }
    .header-left{
        justify-content: center;
    }
    .logo{
        padding: 10px;
    }
    .header-address{
        padding: 10px;
    }
    .header-address h3{
        font-size: 15px;
    }
    .search-box button{
        padding: 10px;
    }
    .headerbtn{
        position: fixed;
        background-color: white;
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        bottom: 0px;
        display: none;
        /* login mycart button display: none */
    }
    .banner-section{
        display: none;
    }
    .order-banner{
        padding: 10px;
        flex-direction: column;
    }
.categoryItems{
    flex-basis: 25%;
}

.productRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .product-items {
    flex-basis: 48%;
    width: 100%;
  }

.row1{
    flex-wrap: wrap;
}
.useful-links{
    flex-basis: 100%;
    padding: 15px 20px ;
}

.link-content{
    gap: 12px 35px;

}
.categories{
    padding: 15px 20px;
    flex-basis: 100%;

}
.categories .link-content{
    grid-template-rows: repeat(15,auto);
    gap: 12px 0px;

}

.footer-mid .row3 p{
    margin: 0px 10px 100px;
}

.footer-mid .row2{
    padding: 50px 0px 40px;
    flex-direction: column;
}
.appIcons{
    padding: 30px 0px;
    flex-direction: column;
    flex-basis: 50%;
}
.footer-mid .row2 img{
    width: 100px;
    /* height: 25px; */
}

.Slinks{
justify-content: center;
}


}