@media (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
    }
    .header-left{
        justify-content: center;
    }
    .logo{
        padding: 10px;
    }
    .header-address{
        padding: 10px;
    }
    .header-address h3{
        font-size: 15px;
    }
}