*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.header-left{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.header-address{
    padding: 20px 30px;
}
.header-address h3{
    font-weight:800;
    font-size: 18px;
    margin-bottom: 5px;
}
.header-address p{
    font-size: 13px;
}

.search-box{
    flex-grow: 1;
    display: flex;
    border-radius: 15px;
    background-color: #f8f8f8;
    border:1px solid #f4f4f4;
}
.search-box button{
    padding: 15px;
    background-color: transparent;
    border: none;
}
.search-box input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
}
.search-box input:focus{
    outline: none;
}

.headerbtn{
    display: flex;
    gap:40px;
    margin-right: 40px;
}
.headerbtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
}

.headerbtn button:last-child{
    /* last child matlb doosra button */
    color: white;
    height: 3.2rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(12,131,31);
}
.headerbtn button:last-child:active{
    background-color: rgb(9, 92, 23);

}
.banner-section{
    margin: 0px auto;
    max-width: 1280px;
}
.banner-section img{
    width: 100%;
}
.order-banner{
    display: flex;
    max-width: 1280px;
    margin: auto;
    /* gap: 20px; */
}
.bannerItems{
    flex-basis: 27%;
    margin: 1%;
}
.bannerItems img{
    width: 100%;
}

.category{
    margin: auto;
    max-width: 1280px;
    flex-wrap: wrap;
    display: flex;
}
.categoryItems{
    flex-basis: 10%;

}
.categoryItems img{
    width: 100%;
}
.Product-section{
    max-width: 1280px;
    margin: auto;
    margin-bottom: 30px;
}
.headingRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 16px; */
    margin-bottom: 15px;
}

.headingRow h4{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;

}
.headingRow a{
    color: #328839;
    font-size: 20px;
    cursor: pointer;
}

.productRow{
    width: 100%;
    display: flex;
    gap:2%;

}

.product-items{
    flex-basis: 15%;
    /* 10px blur  2px all direction*/
    box-shadow: 2px 2px 8px 0px #d5d3d3;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.product-image{
    text-align: center;
    padding: 15px;
}

.product-image p{
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 3px;
    align-items: center ;
    justify-content: center;
    padding: 2px;
    font-size: 9px; 
    text-align: left;
   

}

.product-image p img{
    width:12px;
}
.product-content{
    padding: 15px;
    padding-top: 0px;
}
.product-content h5{
    margin-bottom: 10px;
    font-size: 13px;
}
.product-content p{
    font-size: 12px;
    color: #666666;
}
.add-button{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-button p {
    color: black;
    font-size: 12px;
}
.add-button button{
    border-radius: 10%;
    width: 66px;
    height: 31px;
    color: #318616;
    border: 1px solid #318616;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
}  
